body {
    color: $white;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    max-width: 80%;
    padding: 20px 10px;
    margin: auto;
}

a {
    color: $white;
    text-decoration: none;
    @include fade-in(.2s);

    &:hover {
        color: $color-accent;
    }
}

.title {
    font-size: 40px;
}

.text-center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.content {
    background-color: $primary-color;

    .container {
        background-color: $primary-light;
    }
}