.channels {
    a {
        font-size: 14px;
    }

    img {
        border-radius: 5px;
    }
}

.article-content {
    img {
        float: left;
        position: relative;
        right: 15px;
    }
}

@media #{$general-phone} {
    header {
        height: 500px;
    }
}

@media #{$phone-only} {
    .article-content {
        text-align: center;

        img {
            float: unset;
            right: 0;
        }
    }
}