.photos {
    .img-album {
        max-width: 180px;
        max-height: 250px;
        border: 5px solid $white;
        @include fade-in(.5s);

        &:hover {
            border-color: $light-gray;
        }
    }
}

@media #{$desktop} {
    .photos {
        .img-album {
            max-width: 150px;
            max-height: 250px;
            border: 5px solid $white;
        }
    }
}