$primary-color: #000000;
$primary-light: #080808;
$primary-lighter: #111111;
$color-accent: #00A0AF;

$white: #FFFFFF;
$light-gray: #808080;

$general-phone: "only screen and (max-width : 768px)";
$phone-only: "only screen and (max-width : 500px)";
$tablet: "only screen and (min-width: 500px) and (max-width : 768px)";
$desktop: "only screen and (min-width: 1024px) and (max-width : 1150px)";