.btn-language {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-portuguese {
    background-image: url('../img/brazil.jpg');
}

.btn-english {
    background-image: url('../img/usa.jpg');
}