@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand-light/quicksand_light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-light/quicksand_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Magnificent';
    src: url('../fonts/magnificent/magnificent_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/magnificent/magnificent_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}