nav {
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(60,60,60,.8);

    .container {
        max-width: 90%;
        padding: 10px;
    }

    ul {
        li {
            list-style: none;
            display: inline;
            margin-right: 15px;
        }
    }

    .btns-languages {
        position: absolute;
        right: 7px;
        top: 7px;
    }
}