.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.float-right {
    float: right;
}