.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.mr-1 {
    margin-right: 5px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}